/* Classes for hide and show password using eye icon */
.em-showPassword {
  position: relative;

  .em-toggle-password {
    position: absolute;
    right: 8px;
    top: -2px;
    bottom: 0;
    cursor: pointer;
    background: url("../../assets/images/icon-visibility-true-active.svg") center right no-repeat;
    padding-right: 30px;
    padding-left: 5px;
    background-size: 20px auto;
  }
  .em-showPassword-txt {
    padding-right: 30px;
  }
  .em-toggle-show-password {
    position: absolute;
    right: 8px;
    top: 0px;
    bottom: 0;
    cursor: pointer;
    background: url("../../assets/images/icon-visibility-false-active.svg") center right no-repeat;
    padding-right: 30px;
    padding-left: 5px;
    background-size: 20px auto;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.item{
  .item-input{
    padding: 6px 0 0px 16px;
  }
    .item-input-wrapper {
        background: transparent;
        padding-left: 0;
        i.icon {
          &.placeholder-icon {
            padding: 0;
            color: $black;
            font-size: 13px;
          }
        }
      }
}

/* Hide key symbol in safari */
input::-webkit-auto-fill-button {
  opacity:0 !important;
}