@import "./shared/variables.scss";

//Text Button -Primary
$text-button-primary-default-background-color: $curious-blue;
$btn-height: 40px;
$text-button-border-radius: 0;

//Checkbox
$checkbox-size: 28px;
$checkbox-margin:10px;
$checkbox-background-size:1rem;
$checkbox-label-padding-left:40px;
$checkbox-label-padding-bottom:5px;
$checkbox-border-radius:50%;

//Radio button
$radio-size: 28px;
$radio-margin:10px;
$radio-background-size:1rem;
$radio-label-padding-left:40px;
$radio-label-padding-bottom:5px;
$radio-border-radius:50%;

//textbox and number incremental
$input-field-height:40px;

// spinner and notification
$spinner-height-width: 52px;
$block-ui-message-after-padding:20px;
$block-ui-message-after-left:48%;
$block-ui-message-after-top:35%;
$block-ui-message-after-margin-top:50px;

