 <!-- GroupBox Control Samples-->
    <div  class="panel-body">
        <div class="demo-example" data-heading="Group Box Sample">
            <div class="panel" >
                <div class="panel-heading em-group-box">I.Borrower Information</div>
            </div>
        </div>
    </div>

    <!-- GroupBox Control Usage -->
    <div id="button-sizes-usage" class="panel panel-primary">
        <div class="panel-heading">Group-Box Usage</div>
        <div class="codepen-group">
            <pre class="codepen-able" data-type="html">&lt;div class=&quot;panel-body&quot;&gt;&#13;&#10;  &lt;div class=&quot;demo-example&quot; data-heading=&quot;Samples&quot;&gt;&#13;&#10;    &lt;div class=&quot;panel&quot;&gt;&#13;&#10;      &lt;div class=&quot;panel-heading em-group-box&quot;&gt;Group Box Header&lt;/div&gt;&#13;&#10;    &lt;/div&gt;&#13;&#10;  &lt;/div&gt;&#13;&#10;&lt;/div&gt;            </pre>
            <pre class="codepen-able" id="css-groupbox" data-type="css"></pre>
        </div>
    </div>