 <!-- Panel Control Samples-->
    <div class="panel-body">
        <div class="demo-example" data-heading="Samples">
            <div class="panel">
                <div class="panel-body em-panel">Panel content
                </div>
            </div>
        </div>
        <div class="demo-example" data-heading="Panel Section">
            <div class="panel">
                <div class="panel-body em-panel-section">Panel Section </div>
            </div>
        </div>
        <div class="demo-example" data-heading="Panel Bottom">
            <div class="panel">
                <div class="panel-footer em-panel-bottom">Panel Bottom</div>
            </div>
        </div>
    </div>


    <!-- Panel Control Usage -->
    <div id="panel-usage" class="panel panel-primary">
        <div class="panel-heading">Panel Usage</div>
        <div class="codepen-group">
            <pre class="codepen-able" data-type="html">&lt;div class=&quot;panel-body&quot;&gt;&#13;&#10;       &lt;div class=&quot;demo-example&quot; data-heading=&quot;Samples&quot;&gt;
  &lt;div class=&quot;panel &quot;&gt;
    &lt;div class=&quot;panel-body em-panel&quot;&gt;Panel Data &lt;/div&gt;
  &lt;/div&gt;&#13;&#10;       &lt;/div&gt;&#13;&#10;&#13;&#10;       &lt;div class=&quot;demo-example&quot; data-heading=&quot;Panel Section&quot;&gt;
  &lt;div class=&quot;panel &quot;&gt;
    &lt;div class=&quot;panel-body em-panel-section&quot;&gt;Panel Section &lt;/div&gt;
  &lt;/div&gt;&#13;&#10;       &lt;/div&gt;&#13;&#10;&#13;&#10;       &lt;div class=&quot;demo-example&quot; data-heading=&quot;Panel Bottom&quot;&gt;
  &lt;div class=&quot;panel &quot;&gt;
    &lt;div class=&quot;panel-footer em-panel-bottom&quot;&gt;Panel Bottom&lt;/div&gt;
  &lt;/div&gt;&#13;&#10;       &lt;/div&gt;&#13;&#10;&lt;/div&gt;</pre>
            <pre class="codepen-able" id="css-panel" data-type="css"></pre>
        </div>
    </div>
