.em-dropdown{
  position: relative;
    &.completed {
        border: 1px solid @dropdown-completed-border-color;
        color: @dropdown-completed-text-color;
        border-radius: @dropdown-border-radius;
    }


  label{
      color:@black;
      max-width: @text-line-max-width;
      font-size: @font-size-small;
      margin-bottom: 3px;
      display: block;
    }
  .btn {
    background-color: @dropdown-default-background;
    border-color: @dropdown-default-border-color;
    border-radius: @dropdown-border-radius;
    padding: @dropdown-list-item-highlight-padding;
    text-align: left;
    .selectedText {
        font-size: @font-size-base;
        font-family: @font-family-base;
        color: @dropdown-default-text-color;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.large {
          width:93%;
        }
        &.small {
          width:83%;
        }
        &.medium {
          width:90%;
        }
        &.xs {
          width:73%;
        }
        &.flexible-width {
          width: 98%;
        }
    }
    .caret{
      float: right;
      margin-top: 10px;
      color: @dropdown-default-icon-color;
      cursor: hand;
    }

    &:hover {
      background-color: @dropdown-hover-background-color;
      border: 1px solid @dropdown-hover-border-color;
      box-shadow: 0 0 0 2px @dropdown-hover-outer-border-color;
      color: @dropdown-hover-text-color;
    }
    &.readonly{
      background-color: @dropdown-readonly-background-color;
      border: 1px solid @dropdown-readonly-border-color;
      box-shadow: none;
      cursor: default;
      pointer-events: none;
      .selectedText{
        color: @dropdown-readonly-text-color;
      }
      .caret{
        color: @dropdown-disabled-arrow-color;
      }
    }
    &.restricted {
      background-color: @dropdown-restricted-background-color;
      border: 1px solid @dropdown-restricted-border-color;
      color: @dropdown-restricted-text-color;
      border-radius: @dropdown-border-radius;
      box-shadow: none;
      cursor: default;
      pointer-events: none;
      .selectedText{
        color: @dropdown-restricted-text-color;
      }
      .caret{
        color: @dropdown-disabled-arrow-color;
      }
    }
    &.disabled {
      background-color: @dropdown-disabled-background-color;
      border: 1px solid @dropdown-disabled-border-color;
      box-shadow: none;
      pointer-events: none;
      .selectedText{
        color: @dropdown-disabled-text-color;
      }
      .caret{
        color: @dropdown-disabled-arrow-color;
      }
    }
    &.error {
      border: 1px solid @dropdown-error-inside-border;
      box-shadow: 0 0 0 2px @dropdown-error-outside-border;
      border-radius: @dropdown-border-radius;
    }
  }

    .large {
      width:@dropdown-size-large;
    }
    .small {
      width: @dropdown-size-small;
    }
    .medium {
      width: @dropdown-size-medium;
    }
    .xs {
      width:@dropdown-size-extra-small;
    }
    .flexible-width {
      width: @dropdown-size-flexible;
    }

  ul.dropdown-menu {
    background-color: @dropdown-panel-default-background;
    border: 1px solid @dropdown-panel-default-border-color;
    box-shadow: 0 2px 5px 0 @dropdown-panel-shadow-color;
    border-radius: @dropdown-panel-border-radius;
    padding: @dropdown-panel-padding;
    li {
      &:hover {
        color: @dropdown-panel-hover-highlight-color;
      }
      &:focus {
        background-color: @dropdown-panel-active-background-color;
        color: @dropdown-panel-active-text-color;
      }
      &.disabled {
        pointer-events: none;
      }
    }
    li > a {
      font-size: @font-size-base;
      font: @font-family-base;
      color: @black;
      text-align: left;
      vertical-align: middle;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 5px;
      cursor: pointer;
      cursor: hand;
      &:focus, &:hover {
        background-color: @dropdown-list-item-highlight-color;
      }
      &:active {
          background-color: @dropdown-panel-active-background-color;
          color: @dropdown-panel-active-text-color;
        }
      &.disabled {
        color: @dropdown-panel-disabled-text-color;
      }
    }
    .divider{
      margin: 0px;
    }
  }
}
.position-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
    label {
      margin: 0 0 0 10px;
      }
}
.position-left {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
    label {
      margin: 0px 10px 0 0;
      }
}
.em-dropdown-label{
    .large {
      width:@dropdown-size-large;
    }
    .small {
      width: @dropdown-size-small;
    }
    .medium {
      width: @dropdown-size-medium;
    }
    .xs {
      width:@dropdown-size-extra-small;
    }
    .flexible-width {
      width: @dropdown-size-flexible;
    }
}