//Font Family
$font-family-base: 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
$font-family-light: 'ProximaNova-Light', Helvetica, Arial, sans-serif;
$font-family-bold: 'ProximaNova-Bold', Helvetica, Arial, sans-serif;
$font-family-semibold: 'ProximaNova-Semibold', Helvetica, Arial, sans-serif;

// Font Specs
$font-body-size: 1.0rem;
$font-size-base: 0.815rem;
$font-size-xsmall: 0.6875rem;
$font-size-small: 0.75rem;
$font-size-medium: 0.875rem;
$font-size-large: 1rem;
$font-size-h3: 1.125rem;
$font-size-h2: 1.5rem;
$font-size-h1: 2rem;

//Colors
$curious-blue:#2080c3;
$white:#ffffff;
$havelock-blue:#5da5d9;
$endeavour:#005FA0;
$loblolly:#C0C6CC;
$black-haze:#F8F9F9;


