//Font Family
$font-family-base: 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
$font-family-light: 'ProximaNova-Light', Helvetica, Arial, sans-serif;
$font-family-bold: 'ProximaNova-Bold', Helvetica, Arial, sans-serif;
$font-family-semibold: 'ProximaNova-Semibold', Helvetica, Arial, sans-serif;

// Font Specs
$font-body-size: 1.0rem;
$font-size-base: 0.815rem;
$font-size-xsmall: 0.6875rem;
$font-size-small: 0.75rem;
$font-size-medium: 0.875rem;
$font-size-large: 1rem;
$font-size-h3: 1.125rem;
$font-size-h2: 1.5rem;
$font-size-h1: 2rem;


//Colors
$white:#ffffff;
$black:#000000;
$silver-light:#cccccc;
$silver-hard:#C7C7C7;
$curious-blue:#2080CD;
$venice-blue:#095C9F;
$silver:#B9B9B9;
$havelock-blue:#5da5d9;
$endeavour:#005FA0;
$loblolly:#C0C6CC;
$black-haze:#F8F9F9;
$mine-shaft:#333333;
$alto:#d5d5d5;
$curious-blue-light:#1395e5;
$tropical-blue:#c0e0f8;
$alabaster:#f7f7f7;
$scorpion:#5c5c5c;
$cod-gray: #191919;
$alizarin-crimson: #E42226;
$cornflower-blue: #167FF2;
$keppel-dark: #009CA9;



// Brand Colors
$primary-blue: #2080CD;
$secondary-blue: #1395E5;
$turquoise: #00A0A8;

// Grays
$black: #000000;
$nero: #141414;
$night-rider: #2F2F2F;
$night-hawk: #333333;
$night-lord: #595959;
$vampire: #777777;
$dusk: #A8A8A8;
$wolf: #B9B9B9;
$silver-wolf: #D9D9D9;
$white-smoke: #EBEBEB;
$dark-cloud: #F2F2F2;
$cloud: #FAFAFA;
$white: #FFFFFF;

// Status Colors
$danger: #DA1D27;
$warning: #F16522;
$success: #35BD89;

// Misc. UI Colors
$dark-cerulean: #095C9F;
$jordy-blue: #7eb4df;
$pine: #0A8167;
$redwood: #8B1D27;
$peach: #FEF8E1;
$salomie: #FFD17D;
$azure: #F6FDFF;
$light-cyan: #DDF5FF;
$columbia: #91E2FF;


//New Primary Colors
$midnight: #005181;
$dark-cerulean: #006AA9;
$primary-blue: #2080cd;
$secondary-blue: #1394e5;
$jordy-blue: #52A6EC;
$columbia: #A3D6FF;
$light-cyan: #EBF6FF;
$azure: #F6FBFF;

//Cool Gray
$nero: #25292F;
$night-rider: #353C46;
$night-lord: #464F5C;
$vampire: #697489;
$dusk: #A9B1BE;
$white-smoke: #E0E3E8;
$dark-cloud: #EBEDF0;
$cloud: #F6F7F9;
$wolf: #B0B9C8;
$silver-wolf: #CBCFD7;
$black: #000000;
$night-hawk: #333333;
$gray-star: #909AAA;

// Notification

$success: #32B87C;
$mint: #D4F0E5;
$danger: #E34256;
$strawberry: #F7CDD2;
$warning: #FF6300;


//input-text-field
$input-field-height: 28px;
$input-field-size-extra-small: 56px;
$input-field-size-small: 80px;
$input-field-size-medium: 128px;
$input-field-size-large: 256px;
$input-field-size-flexible: 100%;
$input-field-height: 32px;
$input-field-smaller-height: 24px;
$input-field-disabled-background-color: #f8f9f9;
$input-field-disabled-border-color: #d5d9dd;

