//Font Family
$font-family-base: 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
$font-family-light: 'ProximaNova-Light', Helvetica, Arial, sans-serif;
$font-family-bold: 'ProximaNova-Bold', Helvetica, Arial, sans-serif;
$font-family-semibold: 'ProximaNova-Semibold', Helvetica, Arial, sans-serif;

// Font Specs
$font-body-size: 1.0rem;
$font-size-base: 0.815rem;
$font-size-xsmall: 0.6875rem;
$font-size-small: 0.75rem;
$font-size-medium: 0.875rem;
$font-size-large: 1rem;
$font-size-h3: 1.125rem;
$font-size-h2: 1.5rem;
$font-size-h1: 2rem;


//Colors
$white:#ffffff;
$black:#000000;
$silver-light:#cccccc;
$silver-hard:#C7C7C7;
$curious-blue:#2080CD;
$venice-blue:#095C9F;
$silver:#B9B9B9;
$havelock-blue:#5da5d9;
$endeavour:#005FA0;
$loblolly:#C0C6CC;
$black-haze:#F8F9F9;
$mine-shaft:#333333;
$alto:#d5d5d5;
$curious-blue-light:#1395e5;
$tropical-blue:#c0e0f8;
$alabaster:#f7f7f7;
