@import "./variables";
@font-face {
  font-family: 'ProximaNova-BoldIt';
  src: url('./ProximaNovaBoldIt.eot');
  src: url('./ProximaNovaBoldIt.eot?#iefix') format('embedded-opentype'), url('./ProximaNovaBoldIt.woff2') format('woff2'), url('./ProximaNovaBoldIt.woff') format('woff'), url('./ProximaNovaBoldIt.ttf') format('truetype'), url('./ProximaNovaBoldIt.svg#wf') format('svg');
  font-weight: 700;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('./ProximaNovaBold.eot');
  src: url('./ProximaNovaBold.eot?#iefix') format('embedded-opentype'), url('./ProximaNovaBold.woff2') format('woff2'), url('./ProximaNovaBold.woff') format('woff'), url('./ProximaNovaBold.ttf') format('truetype'), url('./ProximaNovaBold.svg#wf') format('svg');
  font-weight: 700;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('./ProximaNovaRegular.eot');
  src: url('./ProximaNovaRegular.eot?#iefix') format('embedded-opentype'), url('./ProximaNovaRegular.woff2') format('woff2'), url('./ProximaNovaRegular.woff') format('woff'), url('./ProximaNovaRegular.ttf') format('truetype'), url('./ProximaNovaRegular.svg#wf') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url('./ProximaNovaRegularIt.eot');
  src: url('./ProximaNovaRegularIt.eot?#iefix') format('embedded-opentype'), url('./ProximaNovaRegularIt.woff2') format('woff2'), url('./ProximaNovaRegularIt.woff') format('woff'), url('./ProximaNovaRegularIt.ttf') format('truetype'), url('./ProximaNovaRegularIt.svg#wf') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('./ProximaNovaLight.eot');
  src: url('./ProximaNovaLight.eot?#iefix') format('embedded-opentype'), url('./ProximaNovaLight.woff2') format('woff2'), url('./ProximaNovaLight.woff') format('woff'), url('./ProximaNovaLight.ttf') format('truetype'), url('./ProximaNovaLight.svg#wf') format('svg');
  font-weight: 300;
}

@font-face {
  font-family: 'ProximaNova-LightIt';
  src: url('./ProximaNovaLightIt.eot');
  src: url('./ProximaNovaLightIt.eot?#iefix') format('embedded-opentype'), url('./ProximaNovaLightIt.woff2') format('woff2'), url('./ProximaNovaLightIt.woff') format('woff'), url('./ProximaNovaLightIt.ttf') format('truetype'), url('./ProximaNovaLightIt.svg#wf') format('svg');
  font-weight: 300;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('./ProximaNovaSemibold.eot');
  src: url('./ProximaNovaSemibold.eot?#iefix') format('embedded-opentype'), url('./ProximaNovaSemibold.woff2') format('woff2'), url('./ProximaNovaSemibold.woff') format('woff'), url('./ProximaNovaSemibold.ttf') format('truetype'), url('./ProximaNovaSemibold.svg#wf') format('svg');
  font-weight: 600;
}

@font-face {
  font-family: 'ProximaNova-Medium';
  src: url('./ProximaNovaMedium.eot');
  src: url('./ProximaNovaMedium.eot?#iefix') format('embedded-opentype'), url('./ProximaNovaMedium.woff2') format('woff2'), url('./ProximaNovaMedium.woff') format('woff'), url('./ProximaNovaMedium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
    font-family: 'em-icons';
    src:
        url('fonts/em-icons.woff2?cp4q85') format('woff2'),
        url('fonts/em-icons.ttf?cp4q85') format('truetype'),
        url('fonts/em-icons.woff?cp4q85') format('woff'),
        url('fonts/em-icons.svg?cp4q85#em-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'em-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lock-outline {
    &:before {
        content: $lock-outline;
    }
}

.checkmark-circle-green .path1 {
    &:before {
        content: $checkmark-circle-green-path1;
        color: rgb(255, 255, 255);
    }
}
.checkmark-circle-green .path2 {
    &:before {
        content: $checkmark-circle-green-path2;
        margin-left: -1em;
        color: rgb(0, 184, 116);
    }
}
.help-circle {
    &:before {
        content: $help-circle;
    }
}
.release-notes {
    &:before {
        content: $release-notes;
    }
}
.dashboard-3 {
    &:before {
        content: $dashboard-3;
    }
}
.fees-solid {
    &:before {
        content: $fees-solid;
    }
}
.loan-products {
    &:before {
        content: $loan-products;
    }
}
.comments {
    &:before {
        content: $comments;
    }
}
.flag-solid {
    &:before {
        content: $flag-solid;
    }
}
.summary {
    &:before {
        content: $summary;
    }
}
.fees {
    &:before {
        content: $fees;
    }
}
.form-1003 {
    &:before {
        content: $form-1003;
    }
}
.timer-clock {
    &:before {
        content: $timer-clock;
    }
}
.date-picker-small {
    &:before {
        content: $date-picker-small;
    }
}
.arrow-reorder-down {
    &:before {
        content: $arrow-reorder-down;
    }
}
.arrow-reorder-up {
    &:before {
        content: $arrow-reorder-up;
    }
}
.upload-file {
    &:before {
        content: $upload-file;
    }
}
.btn-perenthesis-right {
    &:before {
        content: $btn-perenthesis-right;
    }
}
.btn-perenthesis-left {
    &:before {
        content: $btn-perenthesis-left;
    }
}
.area-active .path1 {
    &:before {
        content: $area-active-path1;
        color: rgb(82, 166, 236);
    }
}
.area-active .path2 {
    &:before {
        content: $area-active-path2;
        margin-left: -1em;
        color: rgb(224, 227, 232);
    }
}
.area-default .path1 {
    &:before {
        content: $area-default-path1;
        color: rgb(19, 148, 229);
    }
}
.area-default .path2 {
    &:before {
        content: $area-default-path2;
        margin-left: -1em;
        color: rgb(169, 177, 190);
    }
}
.area-disabled {
    &:before {
        content: $area-disabled;
    }
}
.area-hover .path1 {
    &:before {
        content: $area-hover-path1;
        color: rgb(82, 166, 236);
    }
}
.area-hover .path2 {
    &:before {
        content: $area-hover-path2;
        margin-left: -1em;
        color: rgb(224, 227, 232);
    }
}
.bar-active {
    &:before {
        content: $bar-active;
    }
}
.bar-default {
    &:before {
        content: $bar-default;
    }
}
.bar-disabled {
    &:before {
        content: $bar-disabled;
    }
}
.bar-hover {
    &:before {
        content: $bar-hover;
    }
}
.bar-stacked-active .path1 {
    &:before {
        content: $bar-stacked-active-path1;
        color: rgb(224, 227, 232);
    }
}
.bar-stacked-active .path2 {
    &:before {
        content: $bar-stacked-active-path2;
        margin-left: -1em;
        color: rgb(82, 166, 236);
    }
}
.bar-stacked-active .path3 {
    &:before {
        content: $bar-stacked-active-path3;
        margin-left: -1em;
        color: rgb(224, 227, 232);
    }
}
.bar-stacked-active .path4 {
    &:before {
        content: $bar-stacked-active-path4;
        margin-left: -1em;
        color: rgb(82, 166, 236);
    }
}
.bar-stacked-active .path5 {
    &:before {
        content: $bar-stacked-active-path5;
        margin-left: -1em;
        color: rgb(224, 227, 232);
    }
}
.bar-stacked-active .path6 {
    &:before {
        content: $bar-stacked-active-path6;
        margin-left: -1em;
        color: rgb(82, 166, 236);
    }
}
.bar-stacked-default .path1 {
    &:before {
        content: $bar-stacked-default-path1;
        color: rgb(169, 177, 190);
    }
}
.bar-stacked-default .path2 {
    &:before {
        content: $bar-stacked-default-path2;
        margin-left: -1em;
        color: rgb(19, 148, 229);
    }
}
.bar-stacked-default .path3 {
    &:before {
        content: $bar-stacked-default-path3;
        margin-left: -1em;
        color: rgb(169, 177, 190);
    }
}
.bar-stacked-default .path4 {
    &:before {
        content: $bar-stacked-default-path4;
        margin-left: -1em;
        color: rgb(19, 148, 229);
    }
}
.bar-stacked-default .path5 {
    &:before {
        content: $bar-stacked-default-path5;
        margin-left: -1em;
        color: rgb(169, 177, 190);
    }
}
.bar-stacked-default .path6 {
    &:before {
        content: $bar-stacked-default-path6;
        margin-left: -1em;
        color: rgb(19, 148, 229);
    }
}
.bar-stacked-disabled {
    &:before {
        content: $bar-stacked-disabled;
    }
}
.bar-stacked-hover .path1 {
    &:before {
        content: $bar-stacked-hover-path1;
        color: rgb(224, 227, 232);
    }
}
.bar-stacked-hover .path2 {
    &:before {
        content: $bar-stacked-hover-path2;
        margin-left: -1em;
        color: rgb(82, 166, 236);
    }
}
.bar-stacked-hover .path3 {
    &:before {
        content: $bar-stacked-hover-path3;
        margin-left: -1em;
        color: rgb(224, 227, 232);
    }
}
.bar-stacked-hover .path4 {
    &:before {
        content: $bar-stacked-hover-path4;
        margin-left: -1em;
        color: rgb(82, 166, 236);
    }
}
.bar-stacked-hover .path5 {
    &:before {
        content: $bar-stacked-hover-path5;
        margin-left: -1em;
        color: rgb(224, 227, 232);
    }
}
.bar-stacked-hover .path6 {
    &:before {
        content: $bar-stacked-hover-path6;
        margin-left: -1em;
        color: rgb(82, 166, 236);
    }
}
.column-active {
    &:before {
        content: $column-active;
    }
}
.column-default {
    &:before {
        content: $column-default;
    }
}
.column-disabled {
    &:before {
        content: $column-disabled;
    }
}
.column-hover {
    &:before {
        content: $column-hover;
    }
}
.column-stacked-active .path1 {
    &:before {
        content: $column-stacked-active-path1;
        color: rgb(224, 227, 232);
    }
}
.column-stacked-active .path2 {
    &:before {
        content: $column-stacked-active-path2;
        margin-left: -0.9501953125em;
        color: rgb(82, 166, 236);
    }
}
.column-stacked-active .path3 {
    &:before {
        content: $column-stacked-active-path3;
        margin-left: -0.9501953125em;
        color: rgb(224, 227, 232);
    }
}
.column-stacked-active .path4 {
    &:before {
        content: $column-stacked-active-path4;
        margin-left: -0.9501953125em;
        color: rgb(82, 166, 236);
    }
}
.column-stacked-active .path5 {
    &:before {
        content: $column-stacked-active-path5;
        margin-left: -0.9501953125em;
        color: rgb(224, 227, 232);
    }
}
.column-stacked-active .path6 {
    &:before {
        content: $column-stacked-active-path6;
        margin-left: -0.9501953125em;
        color: rgb(82, 166, 236);
    }
}
.column-stacked-default .path1 {
    &:before {
        content: $column-stacked-default-path1;
        color: rgb(169, 177, 190);
    }
}
.column-stacked-default .path2 {
    &:before {
        content: $column-stacked-default-path2;
        margin-left: -0.9501953125em;
        color: rgb(19, 148, 229);
    }
}
.column-stacked-default .path3 {
    &:before {
        content: $column-stacked-default-path3;
        margin-left: -0.9501953125em;
        color: rgb(169, 177, 190);
    }
}
.column-stacked-default .path4 {
    &:before {
        content: $column-stacked-default-path4;
        margin-left: -0.9501953125em;
        color: rgb(19, 148, 229);
    }
}
.column-stacked-default .path5 {
    &:before {
        content: $column-stacked-default-path5;
        margin-left: -0.9501953125em;
        color: rgb(169, 177, 190);
    }
}
.column-stacked-default .path6 {
    &:before {
        content: $column-stacked-default-path6;
        margin-left: -0.9501953125em;
        color: rgb(19, 148, 229);
    }
}
.column-stacked-disabled {
    &:before {
        content: $column-stacked-disabled;
    }
}
.column-stacked-hover .path1 {
    &:before {
        content: $column-stacked-hover-path1;
        color: rgb(224, 227, 232);
    }
}
.column-stacked-hover .path2 {
    &:before {
        content: $column-stacked-hover-path2;
        margin-left: -0.9501953125em;
        color: rgb(82, 166, 236);
    }
}
.column-stacked-hover .path3 {
    &:before {
        content: $column-stacked-hover-path3;
        margin-left: -0.9501953125em;
        color: rgb(224, 227, 232);
    }
}
.column-stacked-hover .path4 {
    &:before {
        content: $column-stacked-hover-path4;
        margin-left: -0.9501953125em;
        color: rgb(82, 166, 236);
    }
}
.column-stacked-hover .path5 {
    &:before {
        content: $column-stacked-hover-path5;
        margin-left: -0.9501953125em;
        color: rgb(224, 227, 232);
    }
}
.column-stacked-hover .path6 {
    &:before {
        content: $column-stacked-hover-path6;
        margin-left: -0.9501953125em;
        color: rgb(82, 166, 236);
    }
}
.pie-active .path1 {
    &:before {
        content: $pie-active-path1;
        color: rgb(224, 227, 232);
    }
}
.pie-active .path2 {
    &:before {
        content: $pie-active-path2;
        margin-left: -1em;
        color: rgb(82, 166, 236);
    }
}
.pie-default .path1 {
    &:before {
        content: $pie-default-path1;
        color: rgb(169, 177, 190);
    }
}
.pie-default .path2 {
    &:before {
        content: $pie-default-path2;
        margin-left: -1em;
        color: rgb(19, 148, 229);
    }
}
.pie-disabled {
    &:before {
        content: $pie-disabled;
    }
}
.pie-hover .path1 {
    &:before {
        content: $pie-hover-path1;
        color: rgb(224, 227, 232);
    }
}
.pie-hover .path2 {
    &:before {
        content: $pie-hover-path2;
        margin-left: -1em;
        color: rgb(82, 166, 236);
    }
}
.btn-perenthesis {
    &:before {
        content: $btn-perenthesis;
    }
}
.gripper-vertical {
    &:before {
        content: $gripper-vertical;
    }
}
.result {
    &:before {
        content: $result;
    }
}
.data-source-2 {
    &:before {
        content: $data-source-2;
    }
}
.funnel {
    &:before {
        content: $funnel;
    }
}
.phone-outline {
    &:before {
        content: $phone-outline;
    }
}
.phone {
    &:before {
        content: $phone;
    }
}
.export-excel {
    &:before {
        content: $export-excel;
    }
}
.notify-user {
    &:before {
        content: $notify-user;
    }
}
.recent-documents {
    &:before {
        content: $recent-documents;
    }
}
.edit-document {
    &:before {
        content: $edit-document;
    }
}
.calculator-simple {
    &:before {
        content: $calculator-simple;
    }
}
.info-circle-fill {
    &:before {
        content: $info-circle-fill;
    }
}
.warning-circle-fill {
    &:before {
        content: $warning-circle-fill;
    }
}
.loan-file-favorites-star {
    &:before {
        content: $loan-file-favorites-star;
    }
}
.root-directory {
    &:before {
        content: $root-directory;
    }
}
.loan-file-favorites {
    &:before {
        content: $loan-file-favorites;
    }
}
.loan-file-default {
    &:before {
        content: $loan-file-default;
    }
}
.loan-file-blank {
    &:before {
        content: $loan-file-blank;
    }
}
.logo-bug-white-16px {
    &:before {
        content: $logo-bug-white-16px;
    }
}
.logo-white-130px {
    &:before {
        content: $logo-white-130px;
    }
}
.messages-unread {
    &:before {
        content: $messages-unread;
    }
}
.locked-extension-requested-defualt {
    &:before {
        content: $locked-extension-requested-defualt;
    }
}
.lock-unlocked-rate-requested-defualt {
    &:before {
        content: $lock-unlocked-rate-requested-defualt;
    }
}
.lock-unlocked-defualt {
    &:before {
        content: $lock-unlocked-defualt;
    }
}
.lock-locked-default {
    &:before {
        content: $lock-locked-default;
    }
}
.lock-expired-defualt {
    &:before {
        content: $lock-expired-defualt;
    }
}
.lock-locked-rate-requested {
    &:before {
        content: $lock-locked-rate-requested;
    }
}
.notifications {
    &:before {
        content: $notifications;
    }
}
.snooze {
    &:before {
        content: $snooze;
    }
}
.notify-user {
    &:before {
        content: $notify-user;
    }
}
.view-outline {
    &:before {
        content: $view-outline;
    }
}
.arrowhead-down {
    &:before {
        content: $arrowhead-down;
    }
}
.arrowhead-right {
    &:before {
        content: $arrowhead-right;
    }
}
.arrowhead-up {
    &:before {
        content: $arrowhead-up;
    }
}
.arrowhead-left {
    &:before {
        content: $arrowhead-left;
    }
}
.panel-open-right {
    &:before {
        content: $panel-open-right;
    }
}
.chevron-large-left {
    &:before {
        content: $chevron-large-left;
    }
}
.chevron-large-down {
    &:before {
        content: $chevron-large-down;
    }
}
.chevron-large-up {
    &:before {
        content: $chevron-large-up;
    }
}
.chevron-small-down {
    &:before {
        content: $chevron-small-down;
    }
}
.chevron-small-left {
    &:before {
        content: $chevron-small-left;
    }
}
.chevron-small-up {
    &:before {
        content: $chevron-small-up;
    }
}
.messages-read {
    &:before {
        content: $messages-read;
    }
}
.transactions {
    &:before {
        content: $transactions;
    }
}
.credit-report {
    &:before {
        content: $credit-report;
    }
}
.property {
    &:before {
        content: $property;
    }
}
.coborrower {
    &:before {
        content: $coborrower;
    }
}
.login-user {
    &:before {
        content: $login-user;
    }
}
.tools {
    &:before {
        content: $tools;
    }
}
.doc-copy {
    &:before {
        content: $doc-copy;
    }
}
.edit-pencil {
    &:before {
        content: $edit-pencil;
    }
}
.checkmark {
    &:before {
        content: $checkmark;
    }
}
.close-small {
    &:before {
        content: $close-small;
    }
}
.close-large {
    &:before {
        content: $close-large;
    }
}
.help {
    &:before {
        content: $help;
    }
}
.search {
    &:before {
        content: $search;
    }
}
.more-options {
    &:before {
        content: $more-options;
    }
}
.login-client {
    &:before {
        content: $login-client;
    }
}
.folder {
    &:before {
        content: $folder;
    }
}
.password {
    &:before {
        content: $password;
    }
}
.contacts {
    &:before {
        content: $contacts;
    }
}
.menu {
    &:before {
        content: $menu;
    }
}
.date-picker {
    &:before {
        content: $date-picker;
    }
}
.location-pin {
    &:before {
        content: $location-pin;
    }
}
.chevron-large-right {
    &:before {
        content: $chevron-large-right;
    }
}
.invisible-hide {
    &:before {
        content: $invisible-hide;
    }
}
.visible-view {
    &:before {
        content: $visible-view;
    }
}
.panel-gripper {
    &:before {
        content: $panel-gripper;
    }
}
.panel-open-left {
    &:before {
        content: $panel-open-left;
    }
}
.recent-items {
    &:before {
        content: $recent-items;
    }
}
.avatar {
    &:before {
        content: $avatar;
    }
}
.filter {
    &:before {
        content: $filter;
    }
}
.settings {
    &:before {
        content: $settings;
    }
}
.doc-move {
    &:before {
        content: $doc-move;
    }
}
.print-small {
    &:before {
        content: $print-small;
    }
}
.delete {
    &:before {
        content: $delete;
    }
}
.messages {
    &:before {
        content: $messages;
    }
}
.forms {
    &:before {
        content: $forms;
    }
}
.conditions {
    &:before {
        content: $conditions;
    }
}
.documents {
    &:before {
        content: $documents;
    }
}
.chevron-small-right {
    &:before {
        content: $chevron-small-right;
    }
}
.expand-diagonal {
    &:before {
        content: $expand-diagonal;
    }
}
.nav-services {
    &:before {
        content: $nav-services;
    }
}

