$icomoon-font-path: "fonts" !default;

$lock-outline: "\e9a3";
$checkmark-circle-green-path1: "\e99f";
$checkmark-circle-green-path2: "\e9a0";
$help-circle: "\e9a1";
$release-notes: "\e9a2";
$dashboard-3: "\e99e";
$fees-solid: "\e94a";
$loan-products: "\e94d";
$comments: "\e94f";
$flag-solid: "\e995";
$summary: "\e996";
$fees: "\e997";
$form-1003: "\e998";
$timer-clock: "\e999";
$date-picker-small: "\e99a";
$arrow-reorder-down: "\e99b";
$arrow-reorder-up: "\e99c";
$upload-file: "\e99d";
$btn-perenthesis-right: "\e957";
$btn-perenthesis-left: "\e958";
$area-active-path1: "\e959";
$area-active-path2: "\e95a";
$area-default-path1: "\e95b";
$area-default-path2: "\e95c";
$area-disabled: "\e95d";
$area-hover-path1: "\e95e";
$area-hover-path2: "\e95f";
$bar-active: "\e960";
$bar-default: "\e961";
$bar-disabled: "\e962";
$bar-hover: "\e963";
$bar-stacked-active-path1: "\e964";
$bar-stacked-active-path2: "\e965";
$bar-stacked-active-path3: "\e966";
$bar-stacked-active-path4: "\e967";
$bar-stacked-active-path5: "\e968";
$bar-stacked-active-path6: "\e969";
$bar-stacked-default-path1: "\e96a";
$bar-stacked-default-path2: "\e96b";
$bar-stacked-default-path3: "\e96c";
$bar-stacked-default-path4: "\e96d";
$bar-stacked-default-path5: "\e96e";
$bar-stacked-default-path6: "\e96f";
$bar-stacked-disabled: "\e970";
$bar-stacked-hover-path1: "\e971";
$bar-stacked-hover-path2: "\e972";
$bar-stacked-hover-path3: "\e973";
$bar-stacked-hover-path4: "\e974";
$bar-stacked-hover-path5: "\e975";
$bar-stacked-hover-path6: "\e976";
$column-active: "\e977";
$column-default: "\e978";
$column-disabled: "\e979";
$column-hover: "\e97a";
$column-stacked-active-path1: "\e97b";
$column-stacked-active-path2: "\e97c";
$column-stacked-active-path3: "\e97d";
$column-stacked-active-path4: "\e97e";
$column-stacked-active-path5: "\e97f";
$column-stacked-active-path6: "\e980";
$column-stacked-default-path1: "\e981";
$column-stacked-default-path2: "\e982";
$column-stacked-default-path3: "\e983";
$column-stacked-default-path4: "\e984";
$column-stacked-default-path5: "\e985";
$column-stacked-default-path6: "\e986";
$column-stacked-disabled: "\e987";
$column-stacked-hover-path1: "\e988";
$column-stacked-hover-path2: "\e989";
$column-stacked-hover-path3: "\e98a";
$column-stacked-hover-path4: "\e98b";
$column-stacked-hover-path5: "\e98c";
$column-stacked-hover-path6: "\e98d";
$pie-active-path1: "\e98e";
$pie-active-path2: "\e98f";
$pie-default-path1: "\e990";
$pie-default-path2: "\e991";
$pie-disabled: "\e992";
$pie-hover-path1: "\e993";
$pie-hover-path2: "\e994";
$btn-perenthesis: "\e952";
$gripper-vertical: "\e953";
$result: "\e954";
$data-source-2: "\e955";
$funnel: "\e956";
$phone-outline: "\e951";
$phone: "\e950";
$export-excel: "\e949";
$notify-user: "\e94b";
$recent-documents: "\e94c";
$edit-document: "\e94e";
$calculator-simple: "\e948";
$info-circle-fill: "\e91f";
$warning-circle-fill: "\e942";
$loan-file-favorites-star: "\e943";
$root-directory: "\e944";
$loan-file-favorites: "\e945";
$loan-file-default: "\e946";
$loan-file-blank: "\e947";
$logo-bug-white-16px: "\e900";
$logo-white-130px: "\e901";
$messages-unread: "\e902";
$locked-extension-requested: "\e903";
$lock-unlocked-rate-requested: "\e904";
$lock-unlocked: "\e905";
$lock-locked: "\e906";
$lock-expired: "\e907";
$lock-locked-rate-requested: "\e908";
$notifications: "\e909";
$snooze: "\e90a";
$notify-user: "\e90b";
$view-outline: "\e90c";
$arrowhead-down: "\e90d";
$arrowhead-right: "\e90e";
$arrowhead-up: "\e90f";
$arrowhead-left: "\e910";
$panel-open-right: "\e911";
$chevron-large-left: "\e912";
$chevron-large-down: "\e913";
$chevron-large-up: "\e914";
$chevron-small-down: "\e915";
$chevron-small-left: "\e916";
$chevron-small-up: "\e917";
$messages-read: "\e918";
$transactions: "\e919";
$credit-report: "\e91a";
$property: "\e91b";
$coborrower: "\e91c";
$login-user: "\e91d";
$tools: "\e91e";
$doc-copy: "\e920";
$edit-pencil: "\e921";
$checkmark: "\e922";
$close-small: "\e923";
$close-large: "\e924";
$help: "\e925";
$search: "\e926";
$more-options: "\e927";
$login-client: "\e928";
$folder: "\e929";
$password: "\e92a";
$contacts: "\e92b";
$menu: "\e92c";
$date-picker: "\e92d";
$location-pin: "\e92e";
$chevron-large-right: "\e92f";
$invisible-hide: "\e930";
$visible-view: "\e931";
$panel-gripper: "\e932";
$panel-open-left: "\e933";
$recent-items: "\e934";
$avatar: "\e935";
$filter: "\e936";
$settings: "\e937";
$doc-move: "\e938";
$print-small: "\e939";
$delete: "\e93a";
$messages: "\e93b";
$forms: "\e93c";
$conditions: "\e93d";
$documents: "\e93e";
$chevron-small-right: "\e93f";
$expand-diagonal: "\e940";
$nav-services: "\e941";
