$icomoon-font-path: "fonts" !default;

$lock-outline: "\e9a3";
$checkmark-circle-green-path1: "\e99f";
$checkmark-circle-green-path2: "\e9a0";
$help-circle: "\e9a1";
$release-notes: "\e9a2";
$dashboard-3: "\e99e";
$fees-solid-black: "\e94a";
$loan-products: "\e94d";
$comments: "\e94f";
$flag-solid: "\e995";
$summary: "\e996";
$fees: "\e997";
$form-1003: "\e998";
$timer-clock: "\e999";
$date-picker-small: "\e99a";
$arrow-reorder-down: "\e99b";
$arrow-reorder-up: "\e99c";
$upload-file: "\e99d";
$btn-perenthesis-right-black: "\e957";
$btn-perenthesis-left-black: "\e958";
$area-active-path1: "\e959";
$area-active-path2: "\e95a";
$area-default-path1: "\e95b";
$area-default-path2: "\e95c";
$area-disabled: "\e95d";
$area-hover-path1: "\e95e";
$area-hover-path2: "\e95f";
$bar-active: "\e960";
$bar-default: "\e961";
$bar-disabled: "\e962";
$bar-hover: "\e963";
$bar-stacked-active-path1: "\e964";
$bar-stacked-active-path2: "\e965";
$bar-stacked-active-path3: "\e966";
$bar-stacked-active-path4: "\e967";
$bar-stacked-active-path5: "\e968";
$bar-stacked-active-path6: "\e969";
$bar-stacked-default-path1: "\e96a";
$bar-stacked-default-path2: "\e96b";
$bar-stacked-default-path3: "\e96c";
$bar-stacked-default-path4: "\e96d";
$bar-stacked-default-path5: "\e96e";
$bar-stacked-default-path6: "\e96f";
$bar-stacked-disabled: "\e970";
$bar-stacked-hover-path1: "\e971";
$bar-stacked-hover-path2: "\e972";
$bar-stacked-hover-path3: "\e973";
$bar-stacked-hover-path4: "\e974";
$bar-stacked-hover-path5: "\e975";
$bar-stacked-hover-path6: "\e976";
$column-active: "\e977";
$column-default: "\e978";
$column-disabled: "\e979";
$column-hover: "\e97a";
$column-stacked-active-path1: "\e97b";
$column-stacked-active-path2: "\e97c";
$column-stacked-active-path3: "\e97d";
$column-stacked-active-path4: "\e97e";
$column-stacked-active-path5: "\e97f";
$column-stacked-active-path6: "\e980";
$column-stacked-default-path1: "\e981";
$column-stacked-default-path2: "\e982";
$column-stacked-default-path3: "\e983";
$column-stacked-default-path4: "\e984";
$column-stacked-default-path5: "\e985";
$column-stacked-default-path6: "\e986";
$column-stacked-disabled: "\e987";
$column-stacked-hover-path1: "\e988";
$column-stacked-hover-path2: "\e989";
$column-stacked-hover-path3: "\e98a";
$column-stacked-hover-path4: "\e98b";
$column-stacked-hover-path5: "\e98c";
$column-stacked-hover-path6: "\e98d";
$pie-active-path1: "\e98e";
$pie-active-path2: "\e98f";
$pie-default-path1: "\e990";
$pie-default-path2: "\e991";
$pie-disabled: "\e992";
$pie-hover-path1: "\e993";
$pie-hover-path2: "\e994";
$btn-perenthesis-black: "\e952";
$gripper-vertical-black: "\e953";
$result-black: "\e954";
$data-source-black-2: "\e955";
$funnel-black: "\e956";
$phone-outline: "\e951";
$phone: "\e950";
$export-excel: "\e949";
$notify-user: "\e94b";
$recent-documents: "\e94c";
$edit-document: "\e94e";
$calculator-simple: "\e948";
$info-circle-fill: "\e91f";
$warning-circle-fill: "\e942";
$loan-file-favorites-star: "\e943";
$root-directory: "\e944";
$loan-file-favorites: "\e945";
$loan-file-default: "\e946";
$loan-file-blank: "\e947";
$logo-bug-white-16px: "\e900";
$logo-white-130px: "\e901";
$messages-unread-black: "\e902";
$locked-extension-requested-defualt: "\e903";
$lock-unlocked-rate-requested-defualt: "\e904";
$lock-unlocked-defualt: "\e905";
$lock-locked-default: "\e906";
$lock-expired-defualt: "\e907";
$lock-locked-rate-requested: "\e908";
$notifications-black: "\e909";
$snooze-black: "\e90a";
$notify-user-black: "\e90b";
$view-outline-black: "\e90c";
$arrowhead-down-black: "\e90d";
$arrowhead-right-black: "\e90e";
$arrowhead-up-black: "\e90f";
$arrowhead-left-black: "\e910";
$panel-open-right-black: "\e911";
$chevron-large-left-black: "\e912";
$chevron-large-down-black: "\e913";
$chevron-large-up-black: "\e914";
$chevron-small-down-black: "\e915";
$chevron-small-left-black: "\e916";
$chevron-small-up-black: "\e917";
$messages-read-black: "\e918";
$transactions-black: "\e919";
$credit-report-black: "\e91a";
$property-black: "\e91b";
$coborrower-black: "\e91c";
$login-user-black: "\e91d";
$tools-black: "\e91e";
$doc-copy-black: "\e920";
$edit-pencil-black: "\e921";
$checkmark-black: "\e922";
$close-small-black: "\e923";
$close-large-black: "\e924";
$help-black: "\e925";
$search-black: "\e926";
$more-options-black: "\e927";
$login-client-black: "\e928";
$folder-black: "\e929";
$password-black: "\e92a";
$contacts-black: "\e92b";
$menu-black: "\e92c";
$date-picker-black: "\e92d";
$location-pin-black: "\e92e";
$chevron-large-right-black: "\e92f";
$invisible-hide-black: "\e930";
$visible-view-black: "\e931";
$panel-gripper-black: "\e932";
$panel-open-left-black: "\e933";
$recent-items-black: "\e934";
$avatar-black: "\e935";
$filter-black: "\e936";
$settings-black: "\e937";
$doc-move-black: "\e938";
$print-small-black: "\e939";
$delete-black: "\e93a";
$messages-black: "\e93b";
$forms-black: "\e93c";
$conditions-black: "\e93d";
$documents-black: "\e93e";
$chevron-small-right-black: "\e93f";
$expand-diagonal-black: "\e940";
$nav-services-black: "\e941";
