.em-dropdown-edit {
  .btn {
    height: $dropdown-default-height;
    padding: 0;
    border-radius: 0;
    .caret-box {
      width: 30px;
      float: right;
      border-left: 1px solid $silver;
      height: $dropdown-default-height;
      padding: 5px 10px;
      border-radius: 2px;
    }
    .caret {
      margin-top: 12px;
    }
    .selectedText {
      font-size: $font-size-medium;
      color: $black;
      padding: 10px;
    }
  }
    ul.dropdown-menu {
      border-radius: 0;
      li {
        :hover {
          background-color: $curious-blue-light;
        }
        :focus {
          background-color:$endeavour;
          color: $white;
        }
        .disabled {
          pointer-events: none;
        }
        .selected-text {
          background-color: $curious-blue-light;
        }
      }
      li > a {
        font-size: $font-size-base;
        font-family: $font-family-light;
        :focus, :hover {
        background-color: $curious-blue-light;
      }
      :active {
        background-color: $curious-blue-light;
        color: $white;
      }

      }
    }
  }
