 <!-- text area label position -->
    <div id="text-area-position" class="panel-body section-subheading">
        <form class="form-inline">
            <div class="demo-example" data-heading="Label Position">
                <div class="form-group">
                    <label for="field-label12" class="em-lbl-md">Field Label</label>
                    <textarea class="form-control" placeholder="Default placeholder style" id="field-label12" ></textarea>
                </div><br/><br/>
                <div class="form-group lbl-right">
                    <textarea class="form-control" placeholder="Default placeholder style" id="field-label13"></textarea>
                    <label for="field-label13"class="em-lbl-md">Field Label with content in 2 lines</label>
                </div><br/>
                <div class="form-group lbl-left">
                    <label for="field-label14"class="em-lbl-md">Field Label with content in more than two lines</label>
                    <textarea class="form-control" placeholder="Default placeholder style" id="field-label14"></textarea>
                </div>
            </div>
        </form>
    </div>
    <!-- Text Area Label Usage -->
    <div id="text-area-position-usage" class="panel panel-primary">
        <div class="panel-heading">TextArea Label Position Usage</div>
        <div class="codepen-group">
            <pre class="codepen-able" data-type="html">&lt;div class=&quot;panel-body&quot;&gt;
&lt;form class=&quot;form-inline&quot;&gt;
    &lt;div class=&quot;demo-example&quot; data-heading=&quot;Label Position&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
            &lt;label for=&quot;field-label1&quot; class=&quot;em-lbl-md&quot;&gt;Field Label&lt;/label&gt;
            &lt;textarea class=&quot;form-control&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label1&quot; &gt;&lt;/textarea&gt;
        &lt;/div&gt;&lt;br/&gt;&lt;br/&gt;
        &lt;div class=&quot;form-group lbl-right&quot;&gt;
            &lt;textarea class=&quot;form-control&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label2&quot;&gt;&lt;/textarea&gt;
            &lt;label for=&quot;field-label2&quot;class=&quot;em-lbl-md&quot;&gt;Field Label with content in 2 lines&lt;/label&gt;
        &lt;/div&gt;&lt;br/&gt;
        &lt;div class=&quot;form-group lbl-left&quot;&gt;
            &lt;label for=&quot;field-label3&quot;class=&quot;em-lbl-md&quot;&gt;Field Label with content in more than two lines&lt;/label&gt;
            &lt;textarea class=&quot;form-control&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label3&quot;&gt;&lt;/textarea&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;&#13;&#10;&lt;/div&gt;
</pre>
            <pre class="codepen-able" id="css-labelposition" data-type="css"></pre>
        </div>
    </div>