<!-- Textarea different resize sample -->
    <div id="text-area-resize" class="demo-example section-subheading" data-heading="Resize">
        <div class="form-group">
            <label for="field-label8">Horizontal & Vertical </label>
            <textarea class="form-control em-resize-both" placeholder="Default placeholder style" id="field-label8"></textarea>
        </div>

        <div class="form-group">
            <label for="field-label9">Vertical Only</label>
            <textarea class="form-control em-resize-vertical"  id="field-label9" placeholder="Default placeholder style"></textarea>
        </div>

        <div class="form-group">
            <label for="field-label10">Horizontal only</label>
            <textarea class="form-control em-resize-horizontal" placeholder="Default placeholder style" id="field-label10"></textarea>
        </div>


        <div class="form-group">
            <label for="field-label11">Fixed </label>
            <textarea class="form-control em-resize-none" placeholder="Default placeholder style" id="field-label11" ></textarea>
        </div>
    </div>
    <!-- Text Area resize Usage -->
    <div id="text-area-resize-usage" class="panel panel-primary">
        <div class="panel-heading">TextArea Resize Usage</div>
        <div class="codepen-group">
            <pre class="codepen-able" data-type="html">&lt;div class=&quot;demo-example&quot; data-heading=&quot;Resize&quot;&gt;
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label for=&quot;field-label1&quot;&gt;Horizontal &amp; Vertical &lt;/label&gt;
      &lt;textarea class=&quot;form-control em-resize-both&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label1&quot;&gt;
      &lt;/textarea&gt;
    &lt;/div&gt;

    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label for=&quot;field-label2&quot;&gt;Vertical Only&lt;/label&gt;
      &lt;textarea class=&quot;form-control em-resize-vertical&quot;  id=&quot;field-label2&quot; placeholder=&quot;Default placeholder style&quot;&gt;
      &lt;/textarea&gt;
    &lt;/div&gt;

    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label for=&quot;field-label3&quot; class=&quot;label-disabled&quot;&gt;Horizontal only&lt;/label&gt;
      &lt;textarea class=&quot;form-control em-resize-horizontal&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label3&quot;&gt;
      &lt;/textarea&gt;
    &lt;/div&gt;

  &lt;div class=&quot;form-group&quot;&gt;
        &lt;label for=&quot;field-label6&quot;&gt;Fixed &lt;/label&gt;
    &lt;textarea class=&quot;form-control em-resize-none&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label6&quot; &gt;
    &lt;/textarea&gt;
  &lt;/div&gt;&#13;&#10;&lt;/div&gt;</pre>
            <pre class="codepen-able" id="css-textarea-resize" data-type="css"></pre>
        </div>
    </div>