 <!--Textarea different size sample -->
    <div id="text-area-size" class="demo-example section-subheading" data-heading="Size">

        <div class="form-group">
            <label for="field-label1">Medium</label>
            <textarea class="form-control em-txt-md"  placeholder="Default placeholder style" id="field-label1"></textarea>
        </div>
        <div class="form-group em-label-TextArea" id="txtAreaLarge">
        </div>
        <div class="form-group">
            <label for="field-label3">Flexible</label>
            <textarea class="form-control em-txt-flex" placeholder="Default placeholder style" id="field-label3"></textarea>
        </div>
    </div>
    <!-- Text Area size Usage -->
    <div id="text-area-size-usage" class="panel panel-primary">
        <div class="panel-heading">TextArea Size Usage</div>
        <div class="codepen-group">
            <pre class="codepen-able" data-type="html">&lt;div class=&quot;demo-example&quot; data-heading=&quot;Size&quot;&gt;
   &lt;div class=&quot;form-group&quot;&gt;
      &lt;label for=&quot;field-label10&quot;&gt;Medium&lt;/label&gt;
      &lt;textarea class=&quot;form-control em-txt-md&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label10&quot;&gt;&lt;/textarea&gt;
   &lt;/div&gt;
   &lt;div class=&quot;form-group&quot;&gt;
      &lt;label for=&quot;field-label11&quot;&gt;Large&lt;/label&gt;
      &lt;textarea class=&quot;form-control em-txt-lg&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label11&quot;&gt;&lt;/textarea&gt;
   &lt;/div&gt;
   &lt;div class=&quot;form-group&quot;&gt;
      &lt;label for=&quot;field-label12&quot;&gt;Flexible&lt;/label&gt;
      &lt;textarea class=&quot;form-control em-txt-flex&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label12&quot;&gt;&lt;/textarea&gt;
   &lt;/div&gt;&#13;&#10;&lt;/div&gt;</pre>
            <pre class="codepen-able" id="css-textarea-size" data-type="css"></pre>
        </div>
    </div>