/**********************************
       Toggle Switch Styles
**********************************/
@color0: #fff;

.bootstrap-switch {
  min-width: @switch-min-width-small;
  height: @switch-height-small;
  border: 1px solid @switch-border-color;
  font-family: @font-family-base;
  border-radius: @switch-border-radius;
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: middle;
  z-index: 0;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  .bootstrap-switch-container {
    -webkit-transform: translate3d(0, 0, 0);
    border-radius: 4px;
    display: inline-block;
    top: 0;
    transform: translate3d(0, 0, 0);
    &.logic-switch .bootstrap-switch-handle-off{
      background-color: @switch-on-background-color;
      color: @color0;
    }
  }
  .bootstrap-switch-handle-on, .bootstrap-switch-handle-off {
    font-size: @switch-height-small-text-size;
    color: @white;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block !important;
    height: @switch-height-small;
    line-height: @switch-height-small;
    text-align: center;
    z-index: 1;
    vertical-align: middle;
    margin-top: -4px;
    padding: 0 10px;
    box-shadow: inset 0 3px 3px 0 rgba(0,0,0,0.5);
  }
  .bootstrap-switch-label {
    background: url("../../assets/images/icon-toggle-pipes.svg") center no-repeat @switch-button-background-color;
    background-size: @switch-button-icon-size-small;
    border: 1px solid @switch-border-color;
    border-radius: @switch-border-radius;
    height: @switch-button-small-height;
    width: @switch-button-small-height !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block !important;
    line-height: @switch-button-small-height;
    text-align: center;
    z-index: 100;
    margin-top: -1px;
    &:hover, &:active, &:focus {
      border: 1px solid @input-field-hover-border-color;
      //height: @switch-button-small-height - 2;
      //line-height: @switch-button-small-height - 2;
      //margin-top: 0;
      //box-shadow: 0 0 0 2px @input-field-hover-outer-border-color;
    }
  }
  &.bootstrap-switch-on, .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: @switch-on-background-color;
    color: @color0;
  }
  &.bootstrap-switch-off, &.bootstrap-switch-on.bootstrap-switch-readonly, .bootstrap-switch-handle-off.bootstrap-switch-default {
    background: @switch-off-background-color;
    color: @color0;
  }
  input[type='radio'] {
    filter: alpha(opacity=0);
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute !important;
    top: 0;
    z-index: -1;
  }
  input[type='checkbox'] {
    filter: alpha(opacity=0);
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute !important;
    top: 0;
    z-index: -1;
  }
}
.bootstrap-switch.bootstrap-switch-medium {
  min-width: @switch-min-width-medium;
  height: @switch-height-medium;
  .bootstrap-switch-handle-on, .bootstrap-switch-handle-off {
    height: @switch-height-medium;
    line-height: @switch-height-medium;
    font-size: @switch-height-medium-text-size;
  }
  .bootstrap-switch-label {
    height: @switch-button-medium-height;
    width: @switch-button-medium-height !important;
    line-height: @switch-button-medium-height;
    background-size: @switch-button-icon-size-medium;
  }
}
.bootstrap-switch.bootstrap-switch-readonly {
  .bootstrap-switch-handle-on, .bootstrap-switch-handle-off {
    color: @switch-text-resticted-color;
  }
}
.bootstrap-switch.bootstrap-switch-readonly {
    cursor: default;
}
.bootstrap-switch.bootstrap-switch-disabled {
    cursor: not-allowed;
}
.bootstrap-switch.bootstrap-switch-disabled, .bootstrap-switch.bootstrap-switch-readonly {
  border: 1px solid @switch-button-disabled-border-color;
  .bootstrap-switch-handle-on, .bootstrap-switch-handle-off {
    background-color: @switch-disabled-background-color;
    box-shadow: none;
  }
  .bootstrap-switch-label {
    background-color: @switch-button-disabled-background-color;
    border: none;
    box-shadow: none;
  }
}
.bootstrap-switch.bootstrap-switch-animate {
  .bootstrap-switch-container {
    -o-transition: margin-left 0.5s;
    -webkit-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
  }
}
.bootstrap-switch.bootstrap-switch-inverse {
  .bootstrap-switch-handle-on {
    border-radius: 0 3px 3px 0;
  }
  .bootstrap-switch-handle-off {
    border-radius: 3px 0 0 3px;
  }
}
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off {
  .bootstrap-switch-label {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
}
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on {
  .bootstrap-switch-label {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
}
