 <!-- Textarea field state sample -->
    <div id="text-area-states" class="demo-example section-subheading" data-heading="TextArea Field States">
        <div class="form-group">
            <label for="field-label4">Default Field</label>
            <textarea class="form-control" placeholder="Default placeholder style" id="field-label4"></textarea>
        </div>

        <div class="form-group ">
            <label for="field-label5">Completed Field</label>
            <textarea class="form-control"  id="field-label5" >Example shows the look and feel of the completed textarea field.The required styles are applied to it as per speification.Example shows the look and feel of the completed textarea field.The required styles are applied to it as per speifications.</textarea>
        </div>

        <div class="form-group">
            <label for="field-label6" class="label-disabled">Disabled Field</label>
            <textarea class="form-control" placeholder="Default placeholder style" id="field-label6" disabled></textarea>
        </div>
      <div class="form-group em-label-TextArea" id="txtAreaRestricted">
      </div>
      <div class="form-group em-label-TextArea" id="txtAreaReadOnly">
      </div>

        <div class="form-group">
            <label for="field-label7">Required Field <em class="astRequired">*</em></label>
            <textarea class="form-control" placeholder="Default placeholder style" id="field-label7" required></textarea>
        </div>
    </div>
    <!-- Text Area field state Usage -->
    <div id="text-area-states-usage" class="panel panel-primary">
        <div class="panel-heading">TextArea Field State Usage</div>
        <div class="codepen-group">
            <pre class="codepen-able" data-type="html">&lt;div class=&quot;demo-example&quot; data-heading=&quot;Field States&quot;&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label for=&quot;field-label1&quot;&gt;Default Field&lt;/label&gt;
        &lt;textarea class=&quot;form-control&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label1&quot;&gt;&lt;/textarea&gt;
    &lt;/div&gt;

    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label for=&quot;field-label2&quot;&gt;Completed Field&lt;/label&gt;
        &lt;textarea class=&quot;form-control&quot;  id=&quot;field-label2&quot; &gt;Default text value style&lt;/textarea&gt;
    &lt;/div&gt;

    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label for=&quot;field-label3&quot; class=&quot;label-disabled&quot;&gt;Disabled Field&lt;/label&gt;
        &lt;textarea class=&quot;form-control&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label3&quot; disabled&gt;&lt;/textarea&gt;
    &lt;/div&gt;

  &lt;div class=&quot;form-group&quot;&gt;
       &lt;label for=&quot;field-label6&quot;&gt;Required Field &lt;em class=&quot;astRequired&quot;&gt;*&lt;/em&gt;&lt;/label&gt;
       &lt;textarea class=&quot;form-control&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label6&quot; required&gt;&lt;/textarea&gt;
  &lt;/div&gt;&#13;&#10;&lt;/div&gt;</pre>
            <pre class="codepen-able" id="css-textarea-field-state" data-type="css"></pre>
        </div>
    </div>