 <!-- Primary Button Controls Sizes-variable-width Samples-->
  <div id="button-variable-width" class="panel-body section-subheading">
    <div class="demo-example" data-heading="Button Sizes Variable Width">
      <button type="button" class="btn btn-primary btn-xs-var-width" title="xs-var-width">ok</button>
      <button type="button" class="btn btn-primary btn-sm-var-width" title="sm-var-width">ok</button>
      <button type="button" class="btn btn-primary btn-md-var-width" title="md-var-width">ok</button>
      <button type="button" class="btn btn-primary btn-lg-var-width" title="lg-var-width">ok</button><br/><br/>
      <button type="button" class="btn btn-primary btn-flexible-var-width" title="flexible-var-width">ok</button>
    </div>
  </div>

  <!-- Primary Button Controls Sizes-variable-width Usage -->
  <div id="button-variable-width-usage" class="panel panel-primary">
    <div class="panel-heading">Button Sizes Variable Width Usage</div>
    <div class="codepen-group">
      <pre class="codepen-able" data-type="html">  &lt;div id=&quot;button-variable-width&quot; class=&quot;panel-body&quot;&gt;
    &lt;div class=&quot;demo-example&quot; data-heading=&quot;Button Sizes Variable Width&quot;&gt;
      &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-xs-var-width&quot; title=&quot;xs-var-width&quot;&gt;ok&lt;/button&gt;
      &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-sm-var-width&quot; title=&quot;sm-var-width&quot;&gt;ok&lt;/button&gt;
      &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-md-var-width&quot; title=&quot;md-var-width&quot;&gt;ok&lt;/button&gt;
      &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg-var-width&quot; title=&quot;lg-var-width&quot;&gt;ok&lt;/button&gt;&lt;br/&gt;&lt;br/&gt;
      &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-flexible-var-width&quot; title=&quot;flexible-var-width&quot;&gt;ok&lt;/button&gt;
    &lt;/div&gt;&#13;&#10;&lt;/div&gt;</pre>
      <pre class="codepen-able" id="css-sizes-width" data-type="css"></pre>
    </div>
  </div>

    <!-- Show the button sizes variables width properties -->
    <div class="table-responsive em-table">
        <table class="table table-striped table-hover">
            <tbody><tr>
                <th style="width:20%;">Class</th>
                <th style="width:72%;">Description</th>
            </tr>
            <tr>
                <td>.btn-xs-var-width</td>
                <td>Makes an extra small button with variable width</td>
            </tr>
            <tr>
                <td>.btn-sm-var-width</td>
                <td>Makes a small button with variable width</td>
            </tr>
            <tr>
                <td>.btn-md-var-width</td>
                <td>Makes a medium button with variable width</td>
            </tr>
            <tr>
                <td>.btn-lg-var-width</td>
                <td>Makes a large button with variable width</td>
            </tr>
            <tr>
                <td>.btn-flexible-var-width</td>
                <td>Makes a flexible button with variable width</td>
            </tr>
            </tbody></table>
    </div>