<div>
  <div class="panel-heading em-toolbar-container"> File Uploader </div>
  <div id="divMultiFileUpload" class="em-file-upload-control-holder"></div>
  <div emc="FileUpload" options="vm.options" ></div>
  <br /><br />

  <!-- File Uploader Control Usage -->
  <div id="text-input-size-usage" class="panel panel-primary">
    <div class="panel-heading">File Uploader Usage</div>
    <div class="codepen-group">
                <pre class="codepen-able" data-type="html">
//Html usage
&lt;div id=&quot;divMultiFileUpload&quot; class=&quot;em-file-upload-control-holder&quot;&gt;&lt;/div&gt;
&lt;div emc=&quot;FileUpload&quot; options=&quot;vm.options&quot; &gt;&lt;/div&gt;

//Controller usage
let options = {
  controlId: 'divMultiFileUpload',
  url: configUploadUrl, 
  fileType: '.jpeg,.jpg,.png',
  maxFileSize: '5120'
};
this.options = options;
</pre>
      <!--<pre class="codepen-able" id="css-file-uploader" data-type="css"></pre>-->
    </div>
  </div>
</div>