<!-- text input field label wrapping example -->
    <div id="text-input-label-wrapping" class="demo-example section-subheading" data-heading="Label Wrapping">
          <div class="form-group">
            <label class="em-lbl-md">Top-Field label with long lines of text to two lines</label>
            <input type="text" class="form-control" placeholder="Default placeholder style">
          </div><br/><br/>
          <div class="form-group em-lbl-right">
            <input type="text" class="form-control" placeholder="Default placeholder style">
            <label class="em-lbl-md">Right-Field label with long lines of text, forcing text to wrap</label>
          </div><br/>
          <div class="form-group lbl-left">
            <label class="em-lbl-md">Left-Field label with long lines of text, forcing text to wrap</label>
            <input type="text" class="form-control" placeholder="Default placeholder style">
          </div>
    </div>
    <!-- Text input field label wrapping position  Usage -->
    <div id="text-input-label-wrapping-usage" class="panel panel-primary">
        <div class="panel-heading">Text Input Field Label Position Usage</div>
        <div class="codepen-group">
            <pre class="codepen-able" data-type="html">&lt;div class=&quot;demo-example&quot; data-heading=&quot;Label Wrapping&quot;&gt;
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label for=&quot;field-label18&quot; class=&quot;em-lbl-md&quot;&gt;Top-Field label with long lines of text to two lines&lt;/label&gt;
      &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label18&quot;&gt;
    &lt;/div&gt;&lt;br/&gt;&lt;br/&gt;
   &lt;div class=&quot;form-group em-lbl-right&quot;&gt;
      &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label19&quot;&gt;
     &lt;label for=&quot;field-label19&quot; class=&quot;em-lbl-md&quot;&gt;Right-Field label with long lines of text, forcing text to wrap&lt;/label&gt;
    &lt;/div&gt;&lt;br/&gt;
    &lt;div class=&quot;form-group lbl-left&quot;&gt;
      &lt;label for=&quot;field-label20&quot; class=&quot;em-lbl-md&quot;&gt;Left-Field label with long lines of text, forcing text to wrap&lt;/label&gt;
      &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Default placeholder style&quot; id=&quot;field-label20&quot;&gt;
    &lt;/div&gt;&#13;&#10;&lt;/div&gt;</pre>
            <pre class="codepen-able" id="css-text-input-label-wrapping" data-type="css"></pre>
        </div>
    </div>


 <!-- Show the text input field label wrapping classes -->
        <div class="table-responsive em-table">
            <table class="table table-striped table-hover">
                <tbody>
                <tr>
                    <th style="width:20%;">Class</th>
                    <th style="width:72%;">Description</th>
                </tr>
                <tr>
                    <td>.em-lbl-md</td>
                    <td>Makes an label wrapped</td>
                </tr>
                </tbody></table>
        </div>