<!-- Default drodown controls Samples -->

<div class="panel-body section-subheading">
    <div class="demo-example" data-heading="Dropdown Edit Default">
         <form role="form">
            <div class="form-group">
                <label>Dropdown Label Top</label>
                <div class="em-dropdown-edit" options="vm.drpState" emc="DropdownEdit"></div>
           </div>
       </form>
  </div>
</div>

 <!-- Default drodown Controls Usage -->
  <div class="panel panel-primary">
    <div class="panel-heading">Default Drodown Edit Usage</div>
    <div class="codepen-group">
      <pre class="codepen-able" data-type="html"><code class="language-css"> &lt;form role=&quot;form&quot;&gt;
            &lt;div class=&quot;form-group&quot;&gt;
                &lt;label&gt;Dropdown Label Top&lt;/label&gt;
                &lt;div class=&quot;em-dropdown-edit&quot; options=&quot;vm.drpState&quot; emc=&quot;DropdownEdit&quot;&gt;&lt;/div&gt;
           &lt;/div&gt;
       &lt;/form&gt;</code></pre>
      <pre class="codepen-able" data-type="css"></pre>
      <pre class="codepen-able" data-type="js"><!-- Please put this code in angular controller -->this.drpState = {
      defaultText: &#39; &#39;,
      onChange: function (e) {
        console.log(&#39;Clicked&#39;);
      },
      valueField: &#39;alpha2Code&#39;,
      textField: &#39;name&#39;,
      sortField: &#39;alpha2Code&#39;,
      sortOrder: &#39;desc&#39;
    };</pre>
    </div>
  </div>

    <!-- Show the Default drodown states properties-->
    <div class="table-responsive em-table">
        <table class="table table-striped table-hover">
            <tbody><tr>
                <th style="width:20%;">Class/Properties</th>
                <th style="width:72%;">Description</th>
            </tr>
            <tr>
                <td>.em-dropdown-edit</td>
                <td>This class is required. Indicates a default/standard dropdown</td>
            </tr>
             <tr>
                <td>defaultText</td>
                <td>Display default selected text on the dropdown</td>
            </tr>
            <tr>
                <td>onChange</td>
                <td>Expose OnChange method, It helps to change the items on the selection</td>
            </tr>
            <tr>
                <td>valueField</td>
                <td>The value which user wants to keep or store in the database</td>
            </tr>
            <tr>
                <td>textField</td>
                <td>Display text on the selection of dropdown</td>
            </tr>
            <tr>
                <td>defaultSize</td>
                <td>Define the size of drodown</td>
            </tr>
            <tr>
                <td>sortField</td>
                <td>Define the sort field name in drodown</td>
            </tr>
            <tr>
                <td>sortOrder</td>
                <td>Define the sort order asc/desc</td>
            </tr>
            </tbody></table>
    </div>