<!-- Error Handling drodown edit controls Samples -->
<div class="panel-body section-subheading">
    <div class="demo-example" data-heading="Dropdown Edit Error Handling">
         <form role="form">
            <div class="form-group">
                <label>Dropdown Edit Error Handling</label>
                <div options="vm.drpStateError" emc="DropdownEdit" class="em-dropdown-edit error"></div>
           </div>
       </form>
  </div>
</div>

 <!-- Error Handling Dropdown Edit Controls Usage -->
  <div  class="panel panel-primary">
    <div class="panel-heading">Drodown Edit Error Handling Usage</div>
    <div class="codepen-group">
      <pre class="codepen-able" data-type="html"><code class="language-css"> &lt;form role=&quot;form&quot;&gt;
            &lt;div class=&quot;form-group&quot;&gt;
                &lt;label&gt;Dropdown Edit Error Handling&lt;/label&gt;
                &lt;div options=&quot;vm.drpStateLarge&quot; emc=&quot;DropdownEdit&quot; class=&quot;em-dropdown-edit error&quot;&gt;&lt;/div&gt;
           &lt;/div&gt;
       &lt;/form&gt;</code></pre>
      <pre class="codepen-able" data-type="css"></pre>
      <pre class="codepen-able" data-type="js"></pre><!-- Please put this code in angular controller -->this.drpStateError = {
      defaultText: &#39;Select State&#39;,
      onChange: function (e) {
        console.log(&#39;clicked&#39;);
      },
      defaultSize: &#39;large&#39;
    };
    </div>
  </div>

    <!-- Show the Error Handling Dropdown Edit classes-->
    <div class="table-responsive em-table">
        <table class="table table-striped table-hover">
            <tbody><tr>
                <th style="width:20%;">Class</th>
                <th style="width:72%;">Description</th>
            </tr>
            <tr>
                <td>.error</td>
                <td>Display red border in dropdown edit for showing up the error</td>
            </tr>
            </tbody></table>
    </div>