<!-- Default drodown controls Samples -->

<div class="panel-body section-subheading">
  <div class="demo-example" data-heading="Dropdown Default and different Label Position">
    <form role="form">
      <div class="form-group">
        <label>Dropdown Label Top</label>
        <div class="em-dropdown open-top" options="vm.drpStateDividerItem" emc="Dropdown"></div>
      </div>

      <div class="form-group">
        <div class="em-dropdown" options="vm.drpCountry" emc="Dropdown"></div>
        <label>Dropdown Label Below</label>
      </div>
    </form>

    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="control-label col-sm-3">Label Left</label>
        <div class="em-dropdown col-sm-9" options="vm.drpCountry" emc="Dropdown"></div>
      </div>
      <br/><br/>
      <div class="form-group">
        <div class="em-dropdown col-sm-8" options="vm.drpCountry" emc="Dropdown"></div>
        <label class="control-label col-sm-4">Label Right</label>
      </div>
    </form>
  </div>
</div>

<!-- Default drodown Controls Usage -->
<div class="panel panel-primary">
  <div class="panel-heading">Default Drodown and diffrent label position Usage</div>
  <div class="codepen-group">
      <pre class="codepen-able" data-type="html"><code class="language-css">&lt;form role=&quot;form&quot;&gt;
            &lt;div class=&quot;form-group&quot;&gt;
                &lt;label&gt;Dropdown Label Top&lt;/label&gt;
                &lt;div class=&quot;em-dropdown&quot; options=&quot;vm.drpCountry&quot; emc=&quot;Dropdown&quot;&gt;&lt;/div&gt;
           &lt;/div&gt;

           &lt;div class=&quot;form-group&quot;&gt;
                &lt;div class=&quot;em-dropdown&quot; options=&quot;vm.drpCountry&quot; emc=&quot;Dropdown&quot;&gt;&lt;/div&gt;
                &lt;label&gt;Dropdown Label Below&lt;/label&gt;
           &lt;/div&gt;
        &lt;/form&gt;

        &lt;form class=&quot;form-inline&quot; role=&quot;form&quot;&gt;
          &lt;div class=&quot;form-group&quot;&gt;
                &lt;label&gt;Dropdown Label Left&lt;/label&gt;
                &lt;div class=&quot;em-dropdown&quot; options=&quot;vm.drpCountry&quot; emc=&quot;Dropdown&quot;&gt;&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;form-group&quot;&gt;
                &lt;div class=&quot;em-dropdown&quot; options=&quot;vm.drpCountry&quot; emc=&quot;Dropdown&quot;&gt;&lt;/div&gt;
                &lt;label&gt;Dropdown Label Right&lt;/label&gt;
          &lt;/div&gt;
       &lt;/form&gt;</code></pre>
    <pre class="codepen-able" data-type="css"></pre>
      <pre class="codepen-able" data-type="js"><!-- Please put this code in angular controller -->this.drpCountry = {
      defaultText: &#39;Select&#39;,
      onChange: (e) =&gt; {
        this.drpState.itemList = [{&#39;value&#39;: 1, &#39;text&#39;: &#39;State1&#39; + &#39;-&#39; + e.target.getAttribute(&#39;value&#39;)}, {&#39;value&#39;: 2, &#39;text&#39;: &#39;State2&#39; + &#39;-&#39; + e.target.getAttribute(&#39;value&#39;)}];
        safeApply();
      },
      valueField: &#39;alpha2Code&#39;,
      textField: &#39;name&#39;,
      defaultSize: &#39;large&#39;,
      sortField: &#39;alpha2Code&#39;,
      sortOrder: &#39;desc&#39;
    };</pre>
  </div>
</div>

<!-- Show the Default drodown states properties-->
<div class="table-responsive em-table">
  <table class="table table-striped table-hover">
    <tbody>
    <tr>
      <th style="width:20%;">Class/Properties</th>
      <th style="width:72%;">Description</th>
    </tr>
    <tr>
      <td>.em-dropdown</td>
      <td>This class is required. Indicates a default/standard dropdown</td>
    </tr>
    <tr>
      <td>defaultText</td>
      <td>Display default selected text on the dropdown</td>
    </tr>
    <tr>
      <td>onChange</td>
      <td>Expose OnChange method, It helps to change the items on the selection</td>
    </tr>
    <tr>
      <td>valueField</td>
      <td>The value which user wants to keep or store in the database</td>
    </tr>
    <tr>
      <td>textField</td>
      <td>Display text on the selection of dropdown</td>
    </tr>
    <tr>
      <td>defaultSize</td>
      <td>Define the size of drodown</td>
    </tr>
    <tr>
      <td>sortField</td>
      <td>Define the sort field name in drodown</td>
    </tr>
    <tr>
      <td>sortOrder</td>
      <td>Define the sort order asc/desc</td>
    </tr>
    </tbody>
  </table>
</div>
