<div class="panel-body section-subheading">
  <div class="demo-example" data-heading="Dropdown Error Handling">
    <form role="form">
      <div class="form-group">
        <label>Dropdown Xs Height</label>
        <div class="em-dropdown" options="vm.drpStateHeightXs" emc="Dropdown"></div>
      </div>
      <div class="form-group">
        <label>Dropdown Small Height</label>
        <div class="em-dropdown" options="vm.drpStateHeightSm" emc="Dropdown"></div>
      </div>
      <div class="form-group">
        <label>Dropdown Medium Height</label>
        <div class="em-dropdown" options="vm.drpStateHeightMd" emc="Dropdown"></div>
      </div>
      <div class="form-group">
        <label>Dropdown Large Height</label>
        <div class="em-dropdown" options="vm.drpStateHeightLg" emc="Dropdown"></div>
      </div>
    </form>
  </div>
</div>

<!-- Dropdown Controls Size Usage -->
<div class="panel panel-primary">
  <div class="panel-heading">Drodown Size Usage</div>
  <div class="codepen-group">
      <pre class="codepen-able" data-type="html"><code class="language-css"> &lt;form role=&quot;form&quot;&gt;
            &lt;div class=&quot;form-group&quot;&gt;
                &lt;label&gt;Dropdown xs Height&lt;/label&gt;
                &lt;div class=&quot;em-dropdown&quot; options=&quot;vm.drpStateHeightXs&quot; emc=&quot;Dropdown&quot;&gt;&lt;/div&gt;
           &lt;/div&gt;
            &lt;div class=&quot;form-group&quot;&gt;
                &lt;label&gt;Dropdown Small Height&lt;/label&gt;
                &lt;div class=&quot;em-dropdown&quot; options=&quot;vm.drpStateHeightSm&quot; emc=&quot;Dropdown&quot;&gt;&lt;/div&gt;
           &lt;/div&gt;
           &lt;div class=&quot;form-group&quot;&gt;
                &lt;label&gt;Dropdown Medium Height&lt;/label&gt;
                &lt;div class=&quot;em-dropdown&quot; options=&quot;vm.drpStateHeightMd&quot; emc=&quot;Dropdown&quot;&gt;&lt;/div&gt;
           &lt;/div&gt;

            &lt;div class=&quot;form-group&quot;&gt;
                &lt;label&gt;Dropdown Large Height&lt;/label&gt;
                &lt;div class=&quot;em-dropdown&quot; options=&quot;vm.drpStateHeightLg&quot; emc=&quot;Dropdown&quot;&gt;&lt;/div&gt;
           &lt;/div&gt;
         &lt;/form&gt;</code></pre>
    <pre class="codepen-able" data-type="css"></pre>
    <pre class="codepen-able" data-type="js"></pre>
  </div>
</div>
<!-- Show the button sizes properties -->
<div class="table-responsive em-table">
  <table class="table table-striped table-hover">
    <tbody>
    <tr>
      <th style="width:20%;">Class</th>
      <th style="width:72%;">Description</th>
    </tr>
    <tr>
      <td>.xs-height</td>
      <td>Makes the dropdown's height extra small</td>
    </tr>
    <tr>
      <td>.sm-height</td>
      <td>Makes the dropdown's height small</td>
    </tr>
    <tr>
      <td>.md-height</td>
      <td>Makes the dropdown's height medium</td>
    </tr>
    <tr>
      <td>.lg-height</td>
      <td>Makes the dropdown's height large</td>
    </tr>

    </tbody>
  </table>
</div>


