<div class="app controls buttons">
  <div class="demo-page-header">
    <div class="row">
      <div class="col-lg-12">
        <h1>REO Dropdown For Mobile</h1>
      </div>
    </div>
  </div>
  <div class="demo-example">
    <reo-dropdown-list class="em-reo-dropdown-t"
                       title="Demo reoDropdownList for Mobile"
                       onChange="vm.onChange(update)"
                       options="vm.reoDropDownList"></reo-dropdown-list>
  </div>
  <div id="" class="panel panel-primary">
    <div class="panel-heading">REO dropdown control usage</div>
    <div class="codepen-group">
            <pre class="codepen-able" data-type="html">
              <code>
                &lt;reo-dropdown-list class=&quot;em-reo-dropdown-t&quot;
                title=&quot;Demo reoDropdownList for Mobile&quot;
                onChange=&quot;vm.onChange(update)&quot;
                options=&quot;vm.reoDropDownList&quot;&gt;&lt;/reo-dropdown-list&gt;

                this.reoDropDownList = [
                {text: &#x27;Item1&#x27;, value: &#x27;Item1&#x27;},
                {text: &#x27;Item2&#x27;, value: &#x27;Item2&#x27;},
                {text: &#x27;Item3&#x27;, value: &#x27;Item3&#x27;}
                ];
              </code>
            </pre>
    </div>
  </div>
</div>

