<!-- Error Handling drodown controls Samples -->
<div class="panel-body section-subheading">
  <div class="demo-example" data-heading="">
    <form role="form">
      <label>Color picker with textbox</label>
      <div class="em-dropdown-edit">
        <div emc="ColorPicker"  class="input-group">
          <input type="text" maxlength="6" placeholder="Hex #" class="form-control em-combobox medium em-input-color">
          <div class="input-group-btn">
            <button type="button" class="btn btn-color-picker dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              <span class="color-holder">&nbsp;</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!--  colorpicker with textbox Controls Usage -->
<div class="panel panel-primary">
  <div class="panel-heading">Color Picker With Textbox Usage</div>
  <div class="codepen-group">
      <pre class="codepen-able" data-type="html"><code class="language-css">
      &lt;label&gt;Select Color &lt;/label&gt;
        &lt;div class=&quot;&quot;&gt;
          &lt;div emc=&quot;ColorPicker&quot; class=&quot;input-group&quot;&gt;
             &lt;input type=&quot;text&quot; maxlength=&quot;6&quot; placeholder=&quot;Hex #&quot; class=&quot;form-control em-combobox medium em-input-color&quot;&gt;
            &lt;div class=&quot;input-group-btn&quot;&gt;
               &lt;button type=&quot;button&quot; class=&quot;btn btn-color-picker disabled dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
               &lt;label>Select Color &lt;/label&gt;
               &lt;span class=&quot;color-holder&quot;&gt;&nbsp; &lt;/span&gt;
             &lt;/button&gt;
           &lt;/div&gt;
         &lt;/div&gt;
       &lt;/div&gt;
        </code></pre>
    <pre class="codepen-able" data-type="css"></pre>

  </div>
</div>

<!-- Show the Default drodown states properties-->
<div class="table-responsive em-table">
  <table class="table table-striped table-hover">
    <tbody>
    <tr>
      <th style="width:20%;">Class/Properties</th>
      <th style="width:72%;">Description</th>
    </tr>
    <tr>
      <td>btn-color-picker</td>
      <td>This class is required. Displays the button to open color picker</td>
    </tr>
    <tr>
      <td>em-input-color</td>
      <td>This class is required to display input text box</td>
    </tr>
    <tr>
      <td>medium</td>
      <td>To display input text box size</td>
    </tr>

    <tr>
      <td>color-holder</td>
      <td>Display selected color</td>
    </tr>

    </tbody>
  </table>
</div>
