<!-- Default drodown controls Samples -->

<div class="panel-body section-subheading">
    <div class="demo-example" data-heading="">
         <form role="form">
             <!-- Added date and time picker control -->
            <label>Select Date and Time</label>
            <div  emc="DatePicker" options="vm.dateTimePicker" class="em-date-picker input-group disabled">
              <span   class="input-group-addon em-calendar" ></span>
              <input type="text" class="form-control em-txt-md  date-picker" placeholder="MM / DD / YYYY" >
              <input type="text" class="form-control em-txt-md-time time-picker" placeholder="## : ## AM" >
              <div class="jcalendar_parent default em-calendar-pop" style="z-index: 999;display: none;"></div>
            </div>
       </form>
  </div>
</div>

 <!-- Default drodown Controls Usage -->
  <div class="panel panel-primary">
    <div class="panel-heading">Date Time Usage</div>
    <div class="codepen-group">
      <pre class="codepen-able" data-type="html"><code class="language-css">
      &lt;form role=&quot;form&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
          &lt;label&gt;Select Date and Time&lt;/label&gt;
            &lt;div  emc=&quot;DatePicker&quot; options=&quot;vm.dateTimePicker&quot; class=&quot;em-date-picker input-group disabled&quot;&gt;
              &lt;span   class=&quot;input-group-addon em-calendar" &gt;&lt;/span&gt;
              &lt;input type=&quot;text&quot; class=&quot;form-control em-txt-md  date-picker&quot; placeholder=&quot;MM / DD / YYYY&quot; &gt;
              &lt;input type=&quot;text&quot; class=&quot;form-control em-txt-md-time time-picker&quot; placeholder=&quot;## : ## AM&quot; &gt;
              &lt;div class=&quot;jcalendar_parent default em-calendar-pop&quot; style=&quot;z-index: 999;display: none;&quot;&gt;&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/form&gt;</code></pre>
      <pre class="codepen-able" data-type="css"></pre>
      <pre class="codepen-able" data-type="js"><!-- Please put this code in angular controller -->
      this.dateTimePicker = {
        disabledDates: [&#39;12/14/2015&#39;, &#39;12/15/2015&#39;, &#39;12/16/2015&#39;],
        defaultDate: &#39;01/06/2016&#39;,
        defaultTime: &#39;01:30 AM&#39;
      };</pre>
    </div>
  </div>

    <!-- Show the Default drodown states properties-->
    <div class="table-responsive em-table">
        <table class="table table-striped table-hover">
            <tbody><tr>
                <th style="width:20%;">Class/Properties</th>
                <th style="width:72%;">Description</th>
            </tr>
            <tr>
                <td>.em-date-picker</td>
                <td>This class is required. Indicates a default/standard datepicker</td>
            </tr>
             <tr>
                <td>.em-txt-md</td>
                <td>Display size of date input box / time input box</td>
            </tr>
            <tr>
                <td>.disabled</td>
                <td>This class is rquired to disable the date picker control</td>
            </tr>

            </tbody></table>
    </div>