.incremental{
  .em-plus, .em-minus{
      background: $white;
      @include font-size(light, $font-size-h2, $curious-blue);
      border-radius: 0;
      height: 40px;
      width: 40px;
      line-height: 0;
      border:1px solid $silver;
      &:hover &:active, &:focus {
        border-top: 1px solid $curious-blue;
       // box-shadow: 0px 0px 0px 2px $tropical-blue;
      }
      &.disabled{
        background-color: $silver;
        border-top: 1px solid $alto;
      }
  }

}