<!-- Category Box Control Samples-->
<!--<div class="panel-body">-->
<div class="demo-example" data-heading="Paragraph Disabled Sample">
  <div class="em-paragraph">
    <p class="em-p-disabled">Lorem ipsum nullam enim leo, egestas id, condim-entum at, laoreet mattis, massa. Sed
      eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere
      sit amet, nibh. Duis tinci-dunt lectus quis dui viverra vestibulum. Suspendisse vulputate
      aliquam dui. Nulla elementum dui ut ante enim, dapibus augue.<br/><br/>
      Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc
      gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt.</p>
  </div>
</div>
<!--</div>-->

<div id="button-default-usage" class="panel panel-primary">
  <div class="panel-heading">Paragraph Disabled Usage</div>
  <div class="codepen-group">
    <pre class="codepen-able" data-type="html"><code class="language-css">&lt;div class=&quot;demo-example&quot; data-heading=&quot;Paragraph Disabled Sample&quot;&gt;&#13;&#10;     &lt;p class=&quot;em-p-disabled&quot; /p&gt;&#13;&#10;     </code></pre>
    <pre class="codepen-able" id="css-default" data-type="css"></pre>
  </div>
</div>

<!-- Show the Paragraph properties-->
<div class="table-responsive em-table">
  <table class="table table-striped table-hover">
    <tbody>
    <tr>
      <th style="width:20%;">Class</th>
      <th style="width:72%;">Description</th>
    </tr>
    <tr>
      <td>.em-p-disabled</td>
      <td>Paragraph that will be disabled</td>
    </tr>
    </tbody>
  </table>
</div>
