<!-- Block UI controls Samples -->

<div class="panel-body section-subheading">
    <div class="demo-example" data-heading="">
         <form role="form">
            <label>Block UI sample</label>
            <div block-ui="main"  class="block-ui-main">
              <div>
                <button ng-click="vm.showBlock()">Block</button>
              </div>
            </div>
          </form>
  </div>
</div>

 <!-- Block UI Controls Usage -->
  <div class="panel panel-primary">
    <div class="panel-heading">Block UI Usage</div>
    <div class="codepen-group">
      <pre class="codepen-able" data-type="html"><code class="language-css">
        &lt;label>Block UI sample&lt;/label&gt;
        &lt;div block-ui="main"  class="block-ui-main"&gt;
          &lt;div&gt;
            &lt;button ng-click="vm.show()">Block&lt;/button&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        </code></pre>
      <pre class="codepen-able" data-type="css"></pre>

    </div>
  </div>

    <!-- Block UI properties-->
    <div class="table-responsive em-table">
        <table class="table table-striped table-hover">
            <tbody><tr>
                <th style="width:20%;">Class/Properties</th>
                <th style="width:72%;">Description</th>
            </tr>
            <tr>
                <td>btn-color-picker</td>
                <td>This class is required. Displays the button to open color picker</td>
            </tr>
             <tr>
                <td>color-holder</td>
                <td>Display selected color</td>
            </tr>

            </tbody></table>
    </div>