.radio{
    position: relative;
    display: block;
    margin-top: $radio-margin;
    margin-bottom: $radio-margin;
    cursor: pointer;
    input[type="radio"]{
      opacity: 0;
      z-index: 1;
      position: absolute;
      width: 28px;
      height: 28px;
      margin: 0;
      &:checked + label::before{
       //background: radial-gradient(at center, #fff 1px, $curious-blue-light 1px);

        border: 1px solid $curious-blue-light;
        background-size: $radio-background-size;
      }
      &:hover + label::before,&:active + label::before {
       // background: 2px $curious-blue-light url("../../assets/images/icon-checkmark-white.svg") center center/contain no-repeat;
        border: 1px solid $curious-blue-light;
        box-shadow: 0px 0px 1px 2px $tropical-blue;
      }
      &:not(:checked):not(:hover) + label::before{
        border: 1px solid $alto;
        background: $white;
      }
      &:disabled + label::before{
        background: $alabaster;
        border: 1px solid $alto;
        box-shadow:none;
      }
    }
     :disabled + label{
       @include font-size(regular, $font-size-base, $silver);
      }
    label{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      padding-left:$radio-label-padding-left;
      padding-bottom: $radio-label-padding-bottom;
      @include font-size(regular, $font-size-base, $mine-shaft);
      cursor: pointer;
      line-height: 2.3;
      &::before{
        content: "";
        display: inline-block;
        background-color:$curious-blue-light;
        position: absolute;
        left: 0;
        border-radius: $radio-border-radius;
        width: $radio-size;
        height: $radio-size;
        border: 1px solid $alto;
        @include transition(border 0.15s ease-in-out, color 0.15s ease-in-out);
      }

      &::after{
        display: inline-block;
          position: absolute;
          content: " ";
          width: 12px;
          height: 12px;
          left: 8px;
          top: 8px;
         // margin-left: -20px;
          border-radius: 50%;
          background-color: $white;
          @include transform (scale(0, 0));
          @include transition(transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33));
      }
    }
 }