 .radio input[type="radio"]:not([disabled]) + label {
  color: $black;
  display: inline;
  width: calc(100% - 28px);
  max-width: $radio-size;
  padding-left:$radio-label-padding-left;
  padding-bottom: $radio-label-padding-bottom;
  position: relative;
  line-height: 2.3;
  @include font-size(regular, $font-size-base, $mine-shaft);
  &:before {
    content: "";
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    //background-color:$curious-blue-light;
    width: $radio-size;
    height: $radio-size;
    border: 1px solid $alto;
    border-radius: $radio-border-radius;
    display:  inline;
    margin-right: 10px;
    box-sizing: border-box;
  }
  &:after {
    @include font-size(regular, $font-size-base, $mine-shaft);
  }
  &:hover::before {
     border: 1px solid $curious-blue-light;
     box-shadow: 0px 0px 1px 2px $tropical-blue;
  }
  &:active::before {
    margin-top: 2px;
    margin-left: 2px;
     width: $radio-size;
    height: $radio-size;
    background: radial-gradient(at center, $white 6px, $curious-blue-light 2px);
    border: 1px solid $alto;
    box-shadow: 0px 0px 1px 2px $tropical-blue;
  }

}
.radio input[type=radio]:checked + label:before{
   background: radial-gradient(at center, $white 6px, $curious-blue-light 2px);
       border: 1px solid $curious-blue-light
}
.radio input[type="radio"][disabled] + label{
  padding-left:0;
}
.radio input[type="radio"][disabled] + label:before{
   background: $alabaster;
   border: 1px solid $alto;
   box-shadow:none;
   width: $radio-size;
   top:8px;
   height: $radio-size;
   padding-bottom: $radio-label-padding-bottom;
   position: relative;
   @include font-size(regular, $font-size-base, $mine-shaft);
}