.bar {
  &.bar-header {
    &.bar-em-header {
      background-color: $keppel-dark;
      border-color: $keppel-dark;
    }
  }
}

.modal-custom-wrapper-reo-options {
  .modal-view-body {
    label.item {
      &.item-checkbox {
        border: none;
      }
    }
    .button-bar {
      .button{
        border-radius:0;
      }
    }
  }
}

.reo-mobile {
  padding-top: calculateRem(5);
  label.item-input {
    &.item-stacked-label {
      padding: 10px 5px;
      padding-top: 0;
    }
    .input-label {
      .required-multiselect {
      color: $alizarin-crimson;
      }
    }
  }
  label.item {
    &.item-checkbox {
      padding-top: 16px;
      padding-bottom: 16px;
      &.selection {
        border:2px solid $cornflower-blue;
      }
      .checkbox {
        &.checkbox-circle {
          .checkbox-icon {
            &:before {
              background: $cornflower-blue;
              border-color: $cornflower-blue;
              border-width: calculateRem(2);
            }
            &:after {
              opacity: 1;
            }
          }
        }
      }
      .item-content {
        &.disable-pointer-events {
          span.reo-label {

          }
        }
      }
    }
  }
  .item-selected {
    span.item {
      color: $black;
      &.item-icon-left {
        &:not(:first-child) {
          border-top: none;
        }
        &:first-child {
          border-top-color: $cornflower-blue;
        }
        &:not(:last-child) {
          border-bottom: none;
        }
        .icon {
          &.ion-checkmark {
            &:before {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}